<section class="relative z-40 w-full overflow-hidden aspect-[3/2]">



    <!-- Contenedor de imágenes -->
    <div id="slider" class="absolute inset-0 w-full h-full">
        <img src="/images/foto3.jpeg"
            class="slide absolute inset-0 w-full h-full object-cover opacity-100 transition-opacity duration-700">
        <img src="/images/foto2.jpeg"
            class="slide absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-700">
        <img src="/images/foto4.jpeg"
            class="slide absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-700">
    </div>

    <!-- Texto encima -->
    <div class="relative z-10 text-center text-white bg-black/40 h-full flex flex-col justify-center px-4">
        <h2 class="text-4xl md:text-4xl font-bold mb-4">RS Photo Studio</h2>
        <p class="max-w-3xl mx-auto mb-6">
            Capturamos tus momentos más especiales, creando recuerdos inolvidables.
        </p>

    </div>
</section>

<script>
    const slides = document.querySelectorAll(".slide");
    let index = 0;

    setInterval(() => {
        slides[index].style.opacity = 0;
        index = (index + 1) % slides.length;
        slides[index].style.opacity = 1;
    }, 6000); // Cambia cada 6 segundos
</script>

<section class="welcome py-16">
    <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-4xl text-gray-600 font-bold mb-6">Bienvenidos a RS Photo Studio</h1>
        <p class="text-lg text-gray-600 mb-8">
            En RS Photo Studio, nos apasiona capturar los momentos más especiales de tu vida. Con años de experiencia
            en fotografía profesional, ofrecemos una amplia gama de servicios para inmortalizar tus recuerdos de la
            mejor manera posible.
        </p>
        <a href="/contacto"
            class="inline-block bg-white text-gray-600 px-6 py-3 rounded-lg hover:bg-teal-600 transition">
            Contacto</a>
    </div>
</section>


<section class="service-section">
    <div class="service-text">
        <h2>Servicios de Maternidad</h2>
        <p>
            La maternidad es un viaje único, lleno de cambios, ilusión y una belleza que solo se vive una vez en cada
            etapa. En esta sesión buscamos detener el tiempo y capturar la conexión tan especial entre tú y tu bebé,
            incluso antes de conoceros. Cada gesto, cada caricia y cada mirada cuentan una historia que merece ser
            recordada con delicadeza.

            Trabajo con luz suave, tonos cálidos y una dirección cercana para que te sientas cómoda, segura y radiante.
            No importa si vienes sola, en pareja o con tu familia: la sesión está pensada para que disfrutes, te relajes
            y vivas un momento bonito para ti. Mi objetivo es que cada fotografía refleje tu esencia, tu fuerza y la
            emoción de esta etapa tan especial.

            Estas imágenes se convertirán en un recuerdo para toda la vida, un tesoro que podrás compartir con tu bebé
            cuando crezca y que siempre te recordará lo mágico que fue esperarle.
        </p>
    </div>

    <div class="service-photo">
        <img src="/images/matern1.jpg" alt="Sesión de maternidad">
    </div>

</section>

<section class="family-section">
    <div class="family-photo">
        <img src="/images/familiar.jfif" alt="Sesión familiar">
    </div>

    <div class="family-text">
        <h2>Sesión de Familia</h2>
        <p>
            La familia es ese lugar al que siempre volvemos, incluso cuando el tiempo pasa demasiado rápido. Cada etapa,
            cada abrazo y cada risa compartida forman parte de una historia que merece ser guardada con cariño. En estas
            sesiones buscamos detener ese instante en el que todos estáis juntos, tal y como sois ahora: auténticos,
            imperfectos, felices y unidos.

            No se trata solo de una fotografía, sino de un recuerdo que permanecerá cuando el tiempo pase, cuando miréis
            atrás con nostalgia. Son imágenes que hablan de amor, de complicidad y de
            esos pequeños momentos que, sin darnos cuenta, se convierten en los más importantes.

            Mi objetivo es crear un recuerdo que os acompañe siempre, un tesoro familiar que pase de mano en mano y que
            os recuerde lo bonito que es estar juntos.
        </p>
    </div>
</section>


<section class="portfolio py-10">
    <h2 class="text-3xl font-semibold text-gray-600 text-center mb-10">Portfolio</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 max-w-6xl mx-auto">
        <div class="overflow-hidden rounded-lg shadow-lg hover:scale-105 transform transition aspect-square">
            <img src="/images/comunion.jpg" alt="Foto 1" class="w-full h-full object-cover">
            <p class=" absolute bottom-0 left-0 w-full text-gray-200 text-center py-2 opacity-0
                hover:opacity-100 transition-opacity">
                Sesión comunión</p>

        </div>
        <div class="overflow-hidden rounded-lg shadow-lg hover:scale-105 transform transition aspect-square">
            <img src="/images/foto2.jpeg" alt="Foto 2" class="w-full h-full object-cover">
            <p class=" absolute bottom-0 left-0 w-full text-gray-200 text-center py-2 opacity-0
                hover:opacity-100 transition-opacity">
                Sesión navidad</p>
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg hover:scale-105 transform transition aspect-square">
            <img src="/images/san-valentin.jpg" alt="Foto 3" class="w-full h-full object-cover">
            <p class=" absolute bottom-0 left-0 w-full text-gray-200 text-center py-2 opacity-0
                hover:opacity-100 transition-opacity">
                Sesión de San Valentín</p>
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg hover:scale-105 transform transition aspect-square">
            <img src="/images/cumple.jpg" alt="Foto 4" class="w-full h-full object-cover">
            <p class=" absolute bottom-0 left-0 w-full text-gray-200 text-center py-2 opacity-0
                hover:opacity-100 transition-opacity">
                Sesión Smash cake</p>

        </div>
    </div>
</section>