<section class="relative z-40 w-full overflow-hidden aspect-[3/2]">

    <!-- Slider -->
    <div id="slider" class="absolute inset-0 w-full h-full">
        <img src="/images/foto3.jpeg" alt="Sesión de fotografía infantil en Dos Hermanas Sevilla"
            class="slide absolute inset-0 w-full h-full object-cover opacity-100 transition-opacity duration-700">

        <img src="/images/foto2.jpeg" alt="Fotógrafo profesional en Dos Hermanas Sevilla"
            class="slide absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-700">

        <img src="/images/foto4.jpeg" alt="Estudio de fotografía RS PhotoStudio en Dos Hermanas"
            class="slide absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-700">
    </div>

    <!-- Texto -->
    <div class="relative z-10 text-center text-white bg-black/40 h-full flex flex-col justify-center px-4">

        <h1 class="text-4xl md:text-5xl font-bold mb-4">
            <strong>RS PhotoStudio</strong>
        </h1>

        <p class="max-w-3xl mx-auto mb-6 text-lg">
            <strong>Fotógrafa profesional en Dos Hermanas, Sevilla</strong>
            especializada en sesiones de fotografía infantil, maternidad,
            recién nacidos, bautizos, comuniones, seguimiento y familiar.
        </p>

        <p class="max-w-3xl mx-auto mb-6">
            Capturamos tus momentos más especiales y los convertimos
            en recuerdos únicos llenos de emoción.
        </p>

    </div>
</section>

<script>
    const slides = document.querySelectorAll(".slide");
    let index = 0;

    setInterval(() => {
        slides[index].style.opacity = 0;
        index = (index + 1) % slides.length;
        slides[index].style.opacity = 1;
    }, 6000); // Cambia cada 6 segundos
</script>

<section class="welcome py-16">
    <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-4xl text-gray-600 font-bold mb-6"> Bienvenidos a <strong>RS PhotoStudio</strong></h2>
        <p class="text-lg text-gray-600 mb-8">
            Soy <strong>Rocío Sánchez</strong>, fotógrafa profesional en <strong>Dos Hermanas, Sevilla</strong>. Me
            apasiona capturar los momentos más especiales de tu vida y transformarlos en recuerdos llenos de
            emoción.
            Con años de experiencia en fotografía, ofrezco una <strong>amplia variedad de servicios</strong> para
            familias, parejas y profesionales, siempre con un enfoque natural, cercano y creativo.</p>


        <a href="/contacto"
            class="inline-block bg-white text-gray-600 px-6 py-3 rounded-lg hover:bg-teal-400 transition">
            Contacto</a>
    </div>
</section>


<section class="service-section">
    <div class="service-text">
        <h2><strong>Sesión de Maternidad en Dos Hermanas (Sevilla)</strong></h2>

        <p>
            La <strong>maternidad</strong> es un viaje único, lleno de cambios, ilusión y una belleza que
            solo se vive una vez en cada
            etapa. En esta sesión buscamos detener el tiempo y capturar la conexión tan especial entre tú y tu bebé,
            incluso antes de conoceros. Cada gesto, cada caricia y cada mirada cuentan una historia que merece ser
            recordada con delicadeza.

            En <strong>RS PhotoStudio, en Dos Hermanas, Sevilla,</strong> trabajamos con luz suave, tonos cálidos y
            una dirección cercana para que te sientas cómoda, segura y radiante.
            No importa si vienes sola, en pareja o con tu familia: la sesión está pensada para que disfrutes, te relajes
            y vivas un momento bonito para ti. Mi objetivo es reflejar tu esencia, tu fuerza y la
            emoción de esta etapa tan especial.

            Cada fotografía está pensada para convertirse en un recuerdo
            eterno que podrás compartir con tu hijo cuando crezca.
        </p>
    </div>

    <div class="service-photo">
        <img src="/images/matern1.jpg" alt="Sesión de maternidad en Dos Hermanas Sevilla RS PhotoStudio">
    </div>

</section>
<div class="mt-16 bg-pink-50 p-12 rounded-2xl text-center shadow-lg max-w-6xl mx-auto">

    <h2 class="text-3xl md:text-4xl font-bold mb-6">
        Packs más solicitados
    </h2>

    <p class="text-gray-600 mb-10 max-w-2xl mx-auto text-lg">
        Diseñados para acompañarte en los momentos más importantes de tu vida.
        Nuestros packs permiten capturar cada etapa con un estilo cuidado, coherente y con un precio más especial.
    </p>

    <div class="bg-white rounded-2xl shadow-md p-8 mx-auto border border-pink-100">

        <h3 class="text-2xl font-semibold mb-4">
            Pack Maternidad + Newborn
        </h3>

        <p class="text-gray-700 mb-4">
            Desde la emoción del embarazo hasta los primeros días de vida de tu bebé,
            este pack está pensado para que no pierdas ningún recuerdo importante.
        </p>

        <p class="text-gray-700 mb-4">
            Comenzamos con tu sesión de maternidad, donde capturamos la belleza de esta etapa única,
            y continuamos con la sesión newborn, inmortalizando los primeros días de tu bebé con imágenes delicadas y
            llenas de ternura.
        </p>

        <p class="text-gray-600 mb-6">
            Al reservar ambas sesiones juntas, obtienes un <strong>precio especial</strong> y la tranquilidad de tener
            todo organizado desde el principio.
            Además, conseguimos una coherencia estética en todas las fotografías para crear un recuerdo completo y
            armonioso.
        </p>

        <p class="text-gray-600 mb-8 text-sm">
            Es una de las opciones más elegidas por las familias que quieren guardar para siempre esta etapa tan
            especial.
        </p>

        <a href="/fotografia-pack-embarazo-newborn-dos-hermanas"
            class="bg-teal-500 text-white px-6 py-3 rounded-lg hover:bg-teal-600 transition text-lg shadow">
            Ver pack completo
        </a>

    </div>
</div>


<section class="family-section">
    <div class="family-photo">
        <img src="/images/familiar.jfif" alt="Sesión de fotos familiar en Dos Hermanas Sevilla">
    </div>

    <div class="family-text">
        <h2><strong>Sesión de Fotos Familiar en Dos Hermanas</strong></h2>

        <p>
            La familia es ese lugar al que siempre volvemos, incluso cuando el tiempo pasa demasiado rápido. Cada etapa,
            cada abrazo y cada risa compartida forman parte de una historia que merece ser guardada con cariño. En estas
            sesiones buscamos detener ese instante en el que todos estáis juntos, tal y como sois ahora: auténticos,
            imperfectos, felices y unidos.

            No se trata solo de una fotografía, sino de un recuerdo que permanecerá cuando el tiempo pase, cuando miréis
            atrás con nostalgia. Son imágenes que hablan de amor, de complicidad y de
            esos pequeños momentos que, sin darnos cuenta, se convierten en los más importantes.

            En <strong>RS PhotoStudio</strong> creamos recuerdo que os acompañe siempre, un tesoro familiar que pase de
            mano en mano y que
            os recuerde lo bonito que es estar juntos.
        </p>
    </div>
</section>


<section class="portfolio py-10">
    <h2 class="text-3xl font-semibold text-gray-600 text-center mb-10">
        <strong>Portfolio de Fotografía en Dos Hermanas</strong>
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 max-w-6xl mx-auto">

        <a href="/fotografia-comunion-Dos-Hermanas"
            class="overflow-hidden rounded-lg shadow-lg hover:scale-105 transform transition aspect-square">
            <img src="/images/comunion.jpg" alt="fotografa en Dos Hermanas, comunión, familia"
                class="w-full h-full object-cover">
            <p class=" absolute bottom-0 left-0 w-full text-gray-200 text-center py-2 opacity-0
                hover:opacity-100 transition-opacity">
                Sesión comunión en Dos Hermanas, Sevilla</p>
        </a>

        <a href="/fotografia-navidad-Dos-Hermanas"
            class="overflow-hidden rounded-lg shadow-lg hover:scale-105 transform transition aspect-square">
            <img src="/images/foto2.jpeg" alt="navidad, fotografa en Dos Hermanas, estudios, familia"
                class="w-full h-full object-cover">
            <p class=" absolute bottom-0 left-0 w-full text-gray-200 text-center py-2 opacity-0
                hover:opacity-100 transition-opacity">
                Sesión navidad en Dos Hermanas, Sevilla</p>
        </a>

        <a href="/fotografia-newborn-dos-hermanas"
            class="overflow-hidden rounded-lg shadow-lg hover:scale-105 transform transition aspect-square">
            <img src="/images/born-black.jpg" alt="new born, recien nacidos, embarazo, fotografa en Dos Hermanas"
                class="w-full h-full object-cover">
            <p class=" absolute bottom-0 left-0 w-full text-gray-200 text-center py-2 opacity-0
                hover:opacity-100 transition-opacity">
                Sesión de New Born en Dos Hermanas, Sevilla</p>
        </a>

        <a href="/fotografia-infantil-dos-hermanas"
            class="overflow-hidden rounded-lg shadow-lg hover:scale-105 transform transition aspect-square">
            <img src="/images/cumple.jpg" alt="cumpleaños, smash-cake, infantil" class="w-full h-full object-cover">
            <p class=" absolute bottom-0 left-0 w-full text-gray-200 text-center py-2 opacity-0
                hover:opacity-100 transition-opacity">
                Sesión de Fotos infantil en Dos Hermanas, Sevilla</p>

        </a>
    </div>
</section>