<section class=" py-24 bg-white font-playfair">
    <div class="mx-auto px-4">

        <!-- Títulos -->
        <h2 class="text-5xl text-gray-500 text-center mb-4 text-gray-800 tracking-wide">Galería de Fotos</h2>
        <h3 class="text-lg text-gray-500 uppercase mb-8 text-center tracking-widest">Descubre mi trabajo</h3>
        <h4 class="text-lg text-gray-500 uppercase mb-8 text-center tracking-widest">Fotografía de Maternidad, Recién
            Nacidos,
            Cumpleaños, Navidad,
            Comuniones y Bautizos</h4>
        <h4 class="text-lg text-gray-500 uppercase mb-8 text-center tracking-widest">¡Capturando momentos inolvidables!
        </h4>

        <!-- CARRUSEL DE MATERNIDAD -->
        <div class="overflow-hidden relative">
            <h3 class="text-3xl font-bold text-teal-600 mt-16 mb-6">Maternidad</h3>
            <div class="carousel-track">
                <img src="/images/maternidad.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/matern.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/matern1.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/mat1.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/foto1.jpeg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
            </div>
        </div>

        <!-- CARRUSEL DE RECIÉN NACIDOS -->
        <div class="overflow-hidden relative">
            <h3 class="text-3xl font-bold text-teal-600 mt-16 mb-6">Recién Nacidos</h3>

            <div class="carousel-track">
                <img src="/images/born.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/foto3.jpeg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/born-black.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/born.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/born1.jfif" class="w-80 h-56 object-cover rounded-lg shadow-lg">
            </div>
        </div>

        <!-- CARRUSEL DE Navidad -->
        <div class="overflow-hidden relative">
            <h3 class="text-3xl font-bold text-teal-600 mt-16 mb-6">Navidad</h3>
            <div class="carousel-track">
                <img src="/images/navidad.jfif" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/foto2.jpeg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/nav.jfif" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/nav1.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/nav1.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
            </div>
        </div>

        <!-- CARRUSEL DE Comuniones -->
        <div class="overflow-hidden relative">
            <h3 class="text-3xl font-bold text-teal-600 mt-16 mb-6">Comuniones</h3>
            <div class="carousel-track">
                <img src="/images/comunion.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/foto3.jpeg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/comun.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/comun.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/comun.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
            </div>
        </div>

        <div class="overflow-hidden relative">
            <h3 class="text-3xl font-bold text-teal-600 mt-16 mb-6">Smash Cakes</h3>
            <div class="carousel-track">
                <img src="/images/cumple.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/cumple2.jfif" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/matern1.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/mat1.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/foto1.jpeg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/foto1.jpeg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
            </div>
        </div>

        <div class="overflow-hidden relative">
            <h3 class="text-3xl font-bold text-teal-600 mt-16 mb-6">Familiar</h3>
            <div class="carousel-track">
                <img src="/images/familiar.jfif" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/fam.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/fam1.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/fam2.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/fam4.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">

            </div>
        </div>

        <div class="overflow-hidden relative">
            <h3 class="text-3xl font-bold text-teal-600 mt-16 mb-6">Eventos</h3>
            <div class="carousel-track">
                <img src="/images/valentin.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/san-valentin.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/fam1.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/fam2.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">
                <img src="/images/fam4.jpg" class="w-80 h-56 object-cover rounded-lg shadow-lg">

            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".carousel-track").forEach((track) => {
            const slides = Array.from(track.children);
            slides.forEach((slide) => track.appendChild(slide.cloneNode(true)));
        });
    });
</script>