<section class="py-16 bg-gray-50">
    <div class="max-w-6xl mx-auto px-6">
        <h2 class="text-3xl font-semibold text-center mb-12">Nuestros Servicios</h2>

        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
            <!-- Servicio 1 -->
            <li class="service-card">
                <img src="/images/san-valentin.jpg" alt="Fotografía de eventos">
                <h3 class="service-name">Fotografía de eventos</h3>
            </li>

            <!-- Servicio 2 -->
            <li class="service-card">
                <img src="/images/fam.jpg" alt="Sesiones familiares">
                <h3 class="service-name">Sesiones familiares</h3>
            </li>

            <!-- Servicio 3 -->
            <li class="service-card">
                <img src="/images/maternidad.jpg" alt="Maternidad">
                <h3 class="service-name">Maternidad</h3>
            </li>

            <!-- Servicio 4 -->
            <li class="service-card">
                <img src="/images/bonr1.jpg" alt="Recién nacidos">
                <h3 class="service-name">Recién nacidos</h3>

            </li>

            <!-- Servicio 5 -->
            <li class="service-card">
                <img src="/images/cumple.jpg" alt="Smash Cakes">
                <h3 class="service-name">Smash Cakes</h3>
            </li>

            <!-- Servicio 6 -->
            <li class="service-card">
                <img src="/images/nav1.jpg" alt="Navidad">
                <h3 class="service-name">Navidad</h3>
            </li>

            <!-- Servicio 7 -->
            <li class="service-card">
                <img src="/images/comunion.jpg" alt="Comuniones y Bautizos">
                <h3 class="service-name">Comuniones y Bautizos</h3>
            </li>

            <!-- Servicio 8 -->
            <li class="service-card">
                <img src="/images/seguimiento.jpg" alt="seguimiento bebe">
                <h3 class="service-name">Seguimiento bebe</h3>
            </li>
        </ul>
    </div>
</section>