<section class="max-w-6xl mx-auto px-6 py-16">

    <div class="max-w-6xl mx-auto px-6">

        <h1 class="text-3xl font-semibold text-center mb-6">
            Servicios de fotografía en Dos Hermanas (Sevilla)
        </h1>

        <p class="text-center max-w-3xl mx-auto mb-12 text-gray-600">
            En <strong>RS PhotoStudio</strong> ofrecemos diferentes
            <strong>sesiones de fotografía profesional en Dos Hermanas, Sevilla</strong>,
            especializadas en maternidad, newborn, smash cake, fotografía infantil,
            familia, comuniones y eventos. Creamos recuerdos únicos para cada etapa
            de tu vida con un estilo natural y emotivo.
        </p>

        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">

            <!-- MATERNIDAD -->
            <li class="service-card">
                <a href="/fotografia-embarazo-dos-hermanas">

                    <img src="/images/maternidad.jpg"
                        alt="Sesión de fotografía de maternidad en Dos Hermanas Sevilla RS PhotoStudio">

                    <h2 class="service-name">
                        Fotografía de maternidad
                    </h2>

                </a>
            </li>

            <!-- FAMILIA -->
            <li class="service-card">
                <a href="/fotografia-familiar-dos-hermanas">

                    <img src="/images/fam.jpg" alt="Sesión de fotos familiar en Dos Hermanas Sevilla RS PhotoStudio">

                    <h2 class="service-name">
                        Sesiones familiares
                    </h2>

                </a>
            </li>

            <!-- NEWBORN -->
            <li class="service-card">
                <a href="/fotografia-newborn-dos-hermanas">

                    <img src="/images/bonr1.jpg" alt="Sesión newborn recién nacido en Dos Hermanas Sevilla">

                    <h2 class="service-name">
                        Fotografía newborn
                    </h2>

                </a>
            </li>

            <!-- SEGUIMIENTO -->
            <li class="service-card">
                <a href="/fotografia-seguimiento-dos-hermanas">

                    <img src="/images/seguimiento.jpg" alt="Sesión seguimiento bebé primer año en Dos Hermanas Sevilla">

                    <h2 class="service-name">
                        Seguimiento bebé
                    </h2>

                </a>
            </li>

            <!-- SMASH CAKE -->
            <li class="service-card">
                <a href="/fotografia-smash-cake-dos-hermanas">

                    <img src="/images/smash-cake.jfif"
                        alt="Sesión smash cake primer cumpleaños en Dos Hermanas Sevilla">

                    <h2 class="service-name">
                        Smash Cake
                    </h2>

                </a>
            </li>

            <!-- INFANTIL -->
            <li class="service-card">
                <a href="/fotografia-infantil-dos-hermanas">

                    <img src="/images/cumple.jpg" alt="Sesión de fotografía infantil en Dos Hermanas Sevilla">

                    <h2 class="service-name">
                        Fotografía infantil
                    </h2>

                </a>
            </li>

            <!-- NAVIDAD -->
            <li class="service-card">
                <a href="/fotografia-navidad-dos-hermanas">

                    <img src="/images/nav1.jpg" alt="Sesión de fotos de Navidad en Dos Hermanas Sevilla">

                    <h2 class="service-name">
                        Sesión de Navidad
                    </h2>

                </a>
            </li>

            <!-- COMUNIONES -->
            <li class="service-card">
                <a href="/fotografia-comunion-dos-hermanas">

                    <img src="/images/comunion.jpg" alt="Sesión de fotos de comunión en Dos Hermanas Sevilla">

                    <h2 class="service-name">
                        Fotografía de comuniones
                    </h2>

                </a>
            </li>

            <!-- BAUTIZOS -->
            <li class="service-card">
                <a href="/fotografia-bautizo-dos-hermanas">

                    <img src="/images/bautizo.jfif" alt="Fotografía de bautizo en Dos Hermanas Sevilla">

                    <h2 class="service-name">
                        Fotografía de bautizos
                    </h2>

                </a>
            </li>

            <!-- EVENTOS -->
            <li class="service-card">
                <a href="/fotografia-eventos-dos-hermanas">

                    <img src="/images/san-valentin.jpg" alt="Fotografía de eventos en Dos Hermanas Sevilla">

                    <h2 class="service-name">
                        Fotografía de eventos
                    </h2>

                </a>
            </li>
            <!-- PAREJA -->
            <li class="service-card">
                <a href="/fotografia-pareja-dos-hermanas">

                    <img src="/images/pareja.jpg"
                        alt="Sesión de fotos en pareja en Dos Hermanas Sevilla RS PhotoStudio">

                    <h2 class="service-name">
                        Sesiones de pareja
                    </h2>

                </a>
            </li>
            <!-- PAREJA -->
            <li class="service-card">
                <a href="/fotografia-pack-embarazo-newborn-dos-hermanas">

                    <img src="/images/foto3.jpeg"
                        alt="Sesión de fotos en pareja en Dos Hermanas Sevilla RS PhotoStudio">

                    <h4 class="service-name">
                        Pack Embarazo & Newborn
                    </h4>

                </a>
            </li>
        </ul>



        <!-- BOTÓN CONTACTO -->
        <div class="text-center mt-14">
            <a href="/contacto"
                class="bg-teal-400 text-white px-8 py-4 rounded-lg hover:bg-teal-600 transition text-lg shadow-lg">
                Reservar sesión de fotos
            </a>
        </div>

    </div>

</section>